.button {
  border-radius: 10px;
  border: 1px solid #eaeaea;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
}
