.container {
  display: grid;
  padding: 0 32px;
  gap: 32px;
  grid-template-columns: 1fr 320px;
  min-height: 100vh;
}

.main {
  padding: 32px 0;
}

.aside {
  border-left: 1px solid #f3f3f3;
  padding: 32px 0 32px 32px;
  position: sticky;
  right: 0;
  top: 0;
  height: 100vh;
}

.title {
  font-size: 32px;
  margin: 0 0 32px;
}

.subtitle {
  display: block;
}

.grid {
  width: 100%;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
